/* set position for background image */
.background {
    background-image: url('img/Background.jpg');
    background-size: cover;
    height: 300vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
}

/* Change positioning of background based on screen size */
@media screen and (max-width: 415px) {
    .background {
    position: fixed;
    }
}

.icon-bar {
    text-align: right;
}

/* Remove Scrollbar */
body {
    overflow:hidden;
}

/* Styling of links in navbar */
a {
    text-decoration: none;
    color: gray;
    font-family: "Gill Sans";
}

.container-fluid {
    position: fixed;
    width: 100%;
    top: 10px;
}

/* Styling for hamburger menu icon */
.navbar .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-right {
    text-align: right;
}
/* Styling for hovered over selection */
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
color: black;
background-color: transparent;
font-weight: bolder;
}

.active {
font-weight: bolder;
color: black;
}

/* Styling for active selection */
.navbar .navbar-nav> li > a:active, .navbar .navbar-nav > li > a:focus {
color: black;
background-color:transparent;
font-weight: bolder;
}

/* Name in top left */
.name {
    font-family: "Gill Sans";
    font-size: 175%;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
}

.name a {
  text-decoration: none;
}

/* Styling for logo */
.logo {
    width: 20%;
    height: auto;
    position: fixed;
    vertical-align: middle;
    margin-left: 45%;
    margin-right: 55%;
    padding-top: 20%;
    z-index: 50;
}

/* Animations for circles when hovering over navbar elements */
.container-fluid a:before, div.circleBehind a:after {
    position: absolute;
    top: 25px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #54C6FF;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    /* takes 0.7 seconds for each circle to fully fade in */
    transition: all .7s;
    z-index: -1;
}

.container-fluid a:hover:before {
    opacity: 1;
    background: transparent;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.container-fluid a:hover:after {
    opacity: 1;
    background: transparent;
    transform: scale(1.3);
}

.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-8%);
    }
    65%{
        transform: translateY(4%);
    }
    80%{
        transform: translateY(-4%);
    }
    95%{
        transform: translateY(2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
    }
    50%{
        -webkit-transform: translateY(-8%);
    }
    65%{
        -webkit-transform: translateY(4%);
    }
    80%{
        -webkit-transform: translateY(-4%);
    }
    95%{
        -webkit-transform: translateY(2%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}